들여쓰기

In [89]:
less =[]
greater = []
array = [1,2,3,4]
pivot = 2

for x in array:
    """여러줄은 
    이런 방식으로 하실 수 있습니다.
    """
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

print(less)
print(greater)

[1]
[2, 3, 4]

### A.2.2

In [6]:
ival = 1234567890

In [7]:
ival**6 # 6제곱

3540705968149597751242378595390670323015412790761000000L

In [8]:
fval = 7.243
fval2 = 6.78e-5

In [9]:
fval

7.243

In [10]:
fval2

6.78e-05

In [11]:
3/2

1

In [12]:
3/2.0

1.5

In [13]:
3/float(2)

1.5

In [14]:
3//2

1

문자열

In [15]:
a='one'
b="two"
c="""three
four
five"""

In [16]:
a

'one'

In [17]:
b

'two'

In [18]:
c

'three\nfour\nfive'

In [19]:
print(c)

three
four
five

In [20]:
a

'one'

In [21]:
a[0]

'o'

In [22]:
a[1]

'n'

In [23]:
a[2]

'e'

In [24]:
a[3]

IndexError: string index out of range

In [25]:
a[1:]

'ne'

In [26]:
a = 'one two three'

In [27]:
a[0:5] # 0 <=  <5

'one t'

In [28]:
a[-1] # 마지막 값

'e'

In [29]:
a[-2]

'e'

In [30]:
a[-2:]

'ee'

In [31]:
a[4:7] # two 만 추출

'two'

문자열 템플릿

In [33]:
template = '내 이름은 %s입니다.'
print(template % '이성주')

내 이름은 이성주입니다.

In [34]:
template = '내 이름은 {}입니다.'
print(template.format('이성주'))

내 이름은 이성주입니다.

In [39]:
template = '{2} {1} {0}'
text = template.format('one', 'two', 'three')
print(text)

three two one

날짜시간

In [40]:
from datetime import datetime, date, time

now = datetime.now()

In [41]:
now

datetime.datetime(2015, 3, 19, 16, 41, 37, 530050)

In [43]:
dt = datetime(2011,10,29,20,30,21)
print(dt.day)
print(dt.minute)

29
30

In [44]:
dt.date()

datetime.date(2011, 10, 29)

In [45]:
dt.time()

datetime.time(20, 30, 21)

In [46]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [47]:
dt.strftime('%Y-%m-%d %H:%M')

'2011-10-29 20:30'

In [49]:
datetime.strptime('20091031', '%m%d%Y')

ValueError: time data '20091031' does not match format '%m%d%Y'

In [50]:
a

'one two three'

In [51]:
a[::2]

'oetotre'

In [52]:
lang = 'python'
lang[::2]

'pto'

In [53]:
lang[::-1]

'nohtyp'

In [55]:
for face in ['^0^', '^-^', 'ㅡㅡ+', 'ㅡㅡ;']:
    print(face)

^0^
^-^
ㅡㅡ+
ㅡㅡ;

In [59]:
nums = []
for n in [1,2,3,4,5]:
    nums.append(n*2)

print(nums)

[2, 4, 6, 8, 10]

In [61]:
# 내장 리스트 스타일
# 배열 내에서 반복문 실행
nums = [n*2 for n in [1,2,3,4,5]]

print(nums)

[2, 4, 6, 8, 10]

In [62]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
for x in range(10):
    print('참 잘했어요!')

참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!

In [68]:
for i, x in enumerate(range(10)):
    print i+1, '참 잘했어요!'

1 참 잘했어요!
2 참 잘했어요!
3 참 잘했어요!
4 참 잘했어요!
5 참 잘했어요!
6 참 잘했어요!
7 참 잘했어요!
8 참 잘했어요!
9 참 잘했어요!
10 참 잘했어요!

자료구조

In [69]:
tup = (1,2,3)

In [73]:
tup[1:]

(2, 3)

In [74]:
alist = list(tup)

In [75]:
alist

[1, 2, 3]

In [76]:
tup[0] = 4

TypeError: 'tuple' object does not support item assignment

In [79]:
alist[0]=4
print(alist)

[4, 2, 3]

In [82]:
alist.append(5)
print(alist)

[4, 2, 3, 5]

In [83]:
alist.pop()
print(alist)

[4, 2, 3]

In [84]:
profile = {'name': '이성주', 
           'email': 'seongjoo@codebasic.co'}
print(profile['email'])

seongjoo@codebasic.co

In [85]:
data = [['남자1호', '남자2호', '남자3호'], 
        ['여자1호', '여자2호', '여자3호']]

In [87]:
for name in data[0][1:3]:
    print(name)

남자2호
남자3호

In [88]:
for name in [data[0][1], data[1][1]]:
    print(name)

남자2호
여자2호

# 함수

In [90]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x+y) # 결과를 반환하고, 함수는 종료
    else:
        return z / (x+y)

In [91]:
my_function(1) # 오류! 필요한 인자가 모자름.

TypeError: my_function() takes at least 2 arguments (1 given)

In [92]:
my_function(1,2)

4.5

In [93]:
my_function(1,2,0.5) # 선택적 인자 z의 값을 지정

0.16666666666666666

In [94]:
my_function(z=0.5, x=1, y=2) # 인자 지정

0.16666666666666666

두 개 이상의 결과 반환(return)

In [101]:
# 함수 정의
def foo(a,b):
    return a*2, b*2

# 함수 호출
aa, bb = foo(1,2)
print(aa,bb)

result = foo(1,2)
print(type(result))
print(result[0], result[1])

(2, 4)
<type 'tuple'>
(2, 4)

In [97]:
[2,3]*2

[2, 3, 2, 3]

In [99]:
print '참 잘했어요! '*10

참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요!