In [11]:
import pandas as pd
import os
from os.path import join

In [6]:
데이터경로 = '../data'

In [12]:
pd.read_csv(join(데이터경로, 'geeks.csv'))

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

문서를 읽어올 때는 종종 인코딩을 설정해야한다.

In [13]:
pd.read_csv(join(데이터경로, 'geeks_cp949.txt'), encoding='cp949')

       이름                  기술     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

데이터에 열 제목이 없는 경우

In [14]:
pd.read_csv(join(데이터경로, 'geeks_no_header.csv'))

      이성주  컴퓨터 프로그래머/데이터 과학자   대한민국  @LeeSeongjoo   1982-12-27
0  Rossum          컴퓨터 프로그래머   네덜란드   @gvanrossum   1956-01-31
1  Turing             컴퓨터과학자     영국           NaN   1912-06-23

In [15]:
pd.read_csv(join(데이터경로, 'geeks_no_header.csv'), header=None)

        0                   1      2              3            4
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [16]:
pd.read_csv(join(데이터경로, 'geeks_no_header.csv'),
           names=['이름', '직업', '국적', '트위터', '생년월일'])

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [17]:
프로그래머 = pd.read_csv(join(데이터경로, 'geeks.csv'), encoding='utf-8')
프로그래머

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

열을 왜 조회할 수 없을까?

In [18]:
프로그래머['직업'] # KeyError 오류 발생

KeyError: '직업'

파일을 살펴보니 쉼표 앞에 공백이 있었다!

In [19]:
프로그래머[' 직업']

0     컴퓨터 프로그래머/데이터 과학자
1             컴퓨터 프로그래머
2                컴퓨터과학자
Name:  직업, dtype: object

텍스트 파일은 구분자 앞 또는 뒤에 공백이 삽입되어 있을 수 있다. 그런 공백은 가져오는 시점에서 제거하는 것이 바람직하다.

In [21]:
프로그래머 = pd.read_csv(join(데이터경로, 'geeks.csv'), skipinitialspace=True, encoding='utf-8')
프로그래머['직업']

0    컴퓨터 프로그래머/데이터 과학자
1            컴퓨터 프로그래머
2               컴퓨터과학자
Name: 직업, dtype: object